<footer>
  <div class="left w-33">
    <p class="head">QUICK LINKS</p>
    <ul class="clear">
      <li><a class="" href="customer">CUSTOMER</a></li>
      <li><a class="" href="menu">MENU</a></li>
      <li><a class="" href="place_order">PLACE ORDER</a></li>
      <li><a class="" href="order_list">ORDER LIST</a></li>


    </ul>
  </div>
  <div class="mid w-33">
    <div class="logo">
      <a href="customer"><span><b class="active">COMMITTERS</b></span></a>
    </div>
    <div class="address">
      <p>108 University Ave</p>
      <p>Waterloo, Ontario, N2J 2W2</p>
    </div>
    <div class="info">
      <p><a href="tel:1234567890">123-456-7890</a></p>
      <p>
        <a href="mail:info@digitaldave.com">info@committers.com</a>
      </p>
    </div>
    <div class="copy">
      <h4>Sanket Dave / 8870954 </h4>
      <h4>Deepam Patel / 8812460 </h4>
      <h4>Dilpret Singh / 8871536 </h4>
    </div>
  </div>
  <div class="right w-33">
    <div class="signup">
      <p>SIGN UP FOR</p>
      <p>THE NEWSLETTER</p>
    </div>
    <div class="newsletter">
      <input type="email" name="" id="" placeholder="@ email address ..." />
      <button>GO</button>
    </div>

    <div class="social">
      <div class="border">
        <img src="images/footer/facebook.png" alt="facebook" />
        <img src="images/footer/instagram.png" alt="instagram" />
        <img src="images/footer/tik-tok.png" alt="tik-tok" />
        <img src="images/footer/twitter.png" alt="twitter" />
      </div>
    </div>
  </div>
</footer>